<% if @trail.errors.any? %>
	<div id="error_explanation">
		<h4>Please correct the following errors:</h4>
		<ul>
			<% @trail.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<br>
