<% if @images.nil? %>
	<p> No Images to Display </p>
<% else %>
	<% @images.each do |image| %>
		<hr class="mt-2 mb-5">
	  <div class="row text-center text-lg-left">
	    <div class="col-lg-3 col-md-4 col-6">
	      <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="<%= image.url %>" alt="">
	      </a>
			</div>
			<%= image.date %><br>
			<%= image.trail_name %><br>
			<%= image.username %><br>
			<br>
		</div>
	<% end %>
<% end %>
</div>
