<div class="container">
  <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Public Gallery</h2><br>
	<% binding.pry %>
	<% @images = Image.collect_public_images %>
	<%= render 'shared/gallery' %>
	</div>
</div>
