<div class="container">
  <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">My Gallery</h2><br>
	<% @images = Image.collect_user_images(current_user.name) %>
	<%= render 'shared/gallery' %>
</div>
