<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">My Gallery</h1><br><br>
	helper method below
	<% @images = Image.all.where(username: current_user.name) %>
	<%= render 'shared/gallery' %>
</div>
