<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Record New Hike </h2>
<%= render @hike %>
<div class="col-sm-4 buttons">
	<%= link_to "View All of My Hikes", hikes_path, class:"btn btn-success btn-lg btn-block" %>
	<%= link_to "Return to Trails Index", trails_path, class:"btn btn-success btn-lg btn-block" %>
	<%= link_to "Add New Trail", new_trail_path, class:"btn btn-success btn-lg btn-block" %>
</div>
