<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Add New Trail </h2>
<%= render @trail %>
<div class="col-sm-4 buttons">
	<%= link_to "Return to Trails Index", trails_path, class:"btn btn-success btn-lg btn-block" %>
	<%= link_to "Record New Hike", new_hike_path, class:"btn btn-success btn-lg btn-block" %>
	<%= link_to "View All of My Hikes", hikes_path(@user), class:"btn btn-success btn-lg btn-block" %>
</div>
