<h1> Add New Trail </h1>
<%= render @trail %>

<%= link_to "Return to Trails Index", trails_path %><br>
<%= link_to "Record New Hike", new_hike_path %><br>
<%= link_to "View All of My Hikes", hikes_path(@user) %><br>
